<div class="char_container">
	<div id="chat_room">
		<p class="alert">Welcome to the char room <%= session[:username] %>! </p>
	</div>
	<form id = "new_message_form">
		<input type = "text" id = "message" name = "message">
		<input type = "submit" value = "Send">
	</form>
</div>